@media (max-width: 375px) {
    .main-header__block1 {
        display: none;
    }
    .main-header__block2 {
        display: none;
    }
    .btn {
        display: none;
    }
    .phone {
        display: none;
    }
    .map {
        display: none;
    }
    .line {
        display: none;
    }
    .main-footer {
        display: none;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .attainment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .attainment__block {
        justify-content: center;
        width: 60%;
        margin: 0vw 0vw 5vw 4vw;
    }
    .attainment__block1 {
        justify-content: center;
        width: 55%;
        margin-bottom: 5vw;
    }
    .normal-text {
        font-size: 3vw;
    }
    .big-text {
        font-size: 5vw;
    }
    .big-text1 {
        font-size: 10vw;
        margin-right: 3vw;
    }
    .content__heading {
        font-size: 3.25vw;
    }
    .main-info__text {
        width: 70%;
    }
    .logo {
        font-size: 7.66vw;
    }
    .menu-text {
        font-size: 4.94vw;
    }
    .menu-photo {
        max-width: 6.91vw;
        max-height: 6.55vw;
        margin-right: 1vw;
    }
    .content__block1 {
        margin-bottom: 5.78vw;
    }
    .content__block2 {
        margin-bottom: 5.78vw;
    }
    .content__block3 {
        margin-bottom: 5.78vw;
    }
    .content__block4 {
        margin-bottom: 5.78vw;
    }
    .mobile-text {
        font-size: 3.73vw;
        line-height: 150%;
        color: #1F1F1F;
        width: 90%;
        margin-bottom: 5.15vw;
    }
}

@media (min-width: 376px) {
    .mobile-text {
        display: none;
    }
}